*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(45, 45, 45);
}
.container{
    width: 80%;
    min-height: 100vh;
    background-color: white;
    margin:auto;
    padding: 100px 50px;
    box-sizing: border-box;
}
.container h1{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#numOfWords{
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 20px;
    border: 1px solid rgb(200, 199, 199);
    outline: none;
}
button{
    padding: 10px;
    color: white;
}
.paras{
    background-color: rgb(238, 238, 238);
    color: rgb(21, 21, 21);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}
